@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Libre Baskerville", serif;
  transition: all 0.5s;
}

p {
  color: #7D7D7D;
}

header {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 3rem;
  padding: 2rem 0;
  border-bottom: 1px #E5E5E5 solid;
  opacity: 0;
  -webkit-animation: appear 0.5s forwards ease-in;
          animation: appear 0.5s forwards ease-in;
}
header a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #7D7D7D;
  letter-spacing: 2px;
  cursor: pointer;
}
header a:hover {
  color: black;
}

.link {
  text-decoration: underline;
  color: #7D7D7D;
  font-size: 0.8rem;
}
.link:hover {
  color: black;
}

img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
}

.button {
  cursor: pointer;
}

.image {
  width: 100%;
  display: block;
  cursor: pointer;
  transition: all 0.5s;
  padding-bottom: 2.3rem;
}
.image:hover {
  opacity: 0.8;
}

.image-container {
  position: relative;
  display: flex;
}

.image-container__image {
  width: 32rem;
  display: flex;
  position: relative;
}

.caption {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.caption p {
  color: white;
  opacity: 0.8;
}

.img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  flex: 1;
  filter: brightness(74%);
}

.slideshow-container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 6rem 3rem;
  gap: 25%;
  margin-bottom: 6rem;
  opacity: 0;
  -webkit-animation: appear 0.5s forwards ease-in;
          animation: appear 0.5s forwards ease-in;
  transition: all 5s;
}
.slideshow-container p {
  line-height: 2;
}
.slideshow-container .image-container__caption {
  padding: 0;
  padding-top: 0;
  position: relative;
  color: black;
  bottom: 0;
}
.slideshow-container .image-container__caption .text {
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  left: -4.2rem;
  padding: 4rem;
  padding-top: 0;
  padding-bottom: 3rem;
  padding-right: 0;
}
.slideshow-container .image-container__caption h2 {
  min-width: 22rem;
  font-size: 3.2rem;
}
.slideshow-container .image-container__caption p {
  font-size: 1rem;
}

.progress-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  position: relative;
}
.progress-container .progress {
  flex: 10;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-basis: 100%;
  height: 1px;
  transition: height 0.3s;
  background: rgba(0, 0, 0, 0.1);
}
.progress-container .progress .progress__filled {
  width: 50%;
  background: black;
  flex: 0;
  flex-basis: 0%;
  transition: all 0.5s;
}

.masonry {
  -moz-columns: auto 4;
       columns: auto 4;
  padding: 2.5rem;
  -moz-column-gap: 2.3rem;
       column-gap: 2.3rem;
  opacity: 0;
  -webkit-animation: appear 0.5s forwards ease-in;
          animation: appear 0.5s forwards ease-in;
}

.slide-name {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.slide-name p {
  font-size: 0.9rem;
  color: black;
}

.controls {
  display: flex;
  gap: 4rem;
}
.controls img {
  width: 1.7rem;
  height: 1.7rem;
  opacity: 0.5;
}
.controls img:hover {
  opacity: 1;
}

.view-image {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.9rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  left: 5%;
  bottom: 5%;
  cursor: pointer;
}
.view-image img {
  max-width: 100%;
  max-height: 100%;
}
.view-image span {
  color: white;
  letter-spacing: 2px;
  font-size: 0.9rem;
}
.view-image:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 500;
  padding: 2rem 0;
  -webkit-animation: appear 0.2s ease-in forwards;
          animation: appear 0.2s ease-in forwards;
}

.zoom-image {
  display: flex;
  position: relative;
  max-height: 90%;
  max-width: 90%;
}

.close {
  position: absolute;
  top: -5%;
  right: 0;
  color: white;
  cursor: pointer;
  letter-spacing: 2px;
}
.close:hover {
  opacity: 0.5;
}

.artist {
  width: 7rem;
  display: flex;
  position: absolute;
  bottom: -10%;
  margin-left: 1.5rem;
}

.description {
  position: relative;
  padding-top: 8rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;
}

.year {
  position: absolute;
  top: -1rem;
  left: 0;
  font-size: 12rem;
  z-index: -1;
  color: #F3F3F3;
  font-weight: 700;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 250px) and (max-width: 768px) {
  .masonry {
    -moz-columns: auto 1;
         columns: auto 1;
  }
  .slideshow-container {
    padding: 0;
    flex-direction: column;
    gap: 0rem;
    margin: 0;
    padding: 1.5rem;
    padding-bottom: 4rem;
    overflow-x: hidden;
  }
  .zoom-image {
    max-width: 90%;
  }
  .close {
    top: -15%;
    font-size: 0.8rem;
  }
  .image-container {
    flex-direction: column;
  }
  .image-container .image-container__caption {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    top: -5rem;
  }
  .image-container .image-container__caption .text {
    gap: 0.1rem;
    padding: 0;
    padding: 1rem 2rem;
    position: relative;
    left: -0.5rem;
    padding-right: 0;
    width: 88%;
  }
  .image-container .image-container__caption .text h2 {
    font-size: 1.5rem;
  }
  .image-container .image-container__caption .text p {
    font-size: 0.9rem;
  }
  .image-container .image-container__caption h2 {
    min-width: unset;
  }
  .image-container__image {
    width: 100%;
  }
  .view-image {
    top: 5%;
    bottom: unset;
  }
  .artist {
    margin: 0;
    position: relative;
    width: 4rem;
    bottom: 0;
    left: 1rem;
  }
  .year {
    font-size: 6.5rem;
    left: 5rem;
    top: -5rem;
  }
  .progress-container {
    padding: 1rem 1.5rem;
  }
  .slide-name h4 {
    font-size: 0.9rem;
    font-weight: 700;
  }
  .slide-name p {
    font-size: 0.8rem;
  }
  .description {
    padding: 0;
    gap: 4rem;
  }
  header {
    margin: 0;
    padding: 1rem 1.5rem;
  }
  header a {
    font-size: 0.5rem;
  }
  header img {
    width: 50%;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .masonry {
    -moz-columns: auto 2;
         columns: auto 2;
    padding: 2rem;
  }
  .slideshow-container {
    flex-direction: column;
    margin: 0;
    padding-bottom: 4rem;
    gap: 2rem;
  }
  .image-container__caption .text {
    left: -16rem;
    top: -0.5rem;
  }
  .image-container__caption h2 {
    font-weight: 700;
    font-size: 3.6rem;
    min-width: 25rem;
  }
  .artist {
    width: 10wrem;
    bottom: 43%;
  }
  .description {
    padding-left: 8rem;
    font-weight: 700;
    gap: 3rem;
  }
  header {
    margin: 0;
    padding: 2rem 2.5rem;
  }
  header a {
    font-size: 1.2rem;
  }
  header img {
    width: 80%;
  }
}
@media (min-width: 1001px) and (max-width: 1450px) {
  .masonry {
    -moz-columns: auto 3;
         columns: auto 3;
    padding: 2rem;
  }
  .slideshow-container {
    flex-direction: column;
    margin: 0;
    padding-bottom: 4rem;
    gap: 2rem;
  }
  .image-container__caption .text {
    left: -16rem;
    top: -0.5rem;
  }
  .image-container__caption h2 {
    font-weight: 700;
    font-size: 3.6rem;
    min-width: 25rem;
  }
  .artist {
    width: 10wrem;
    bottom: 43%;
  }
  .description {
    padding-left: 8rem;
    font-weight: 700;
    gap: 3rem;
  }
  header {
    margin: 0;
    padding: 2rem 2.5rem;
  }
  header a {
    font-size: 1.2rem;
  }
  header img {
    width: 80%;
  }
  .slide-name h4 {
    font-size: 1.3rem;
  }
  .slide-name p {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */